<h1>New Multiple Choice Question</h1>

<%= form_for [:survey, @mc_question] do |question_field| %>
  <%= render 'question_form', question_field: question_field %>


  <%= question_field.submit "Create Question", class: "btn btn-primary" %>
<% end %>

